<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="app.py" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python364x86\python.exe|D:\home\Python364x86\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Flask App" stopProcessing="true">
          <action type="Rewrite" url="app.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
